<p style="color: green"><%= notice %></p>
<%= render @website %>

<div>
<%= link_to "Back", websites_path %>
<br>
<% if authenticated? %>
<%= link_to "Edit", edit_website_path(@website) %>
<br>
<%= button_to "Delete", @website, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
</div>
<% end %>