<p style="color: green"><%= notice %></p>
<%= render @website %>

<% @novels.each do |novel| %>
    <div>
    <%= link_to novel.name, novel %>
    </div>
<% end %>
<br>

<%= link_to "Back To Websites", websites_path %>
<br>
<% if authenticated? %>
<%= link_to "Edit This Website", edit_website_path(@website) %>
<br>
<%= button_to "Delete", @website, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>