# <p style="color: green"><%= notice %></p>

# <%= render @website %>

# <div>
#   <%= link_to "Edit this website", edit_website_path(@website) %> |
#   <%= link_to "Back to websites", websites_path %>

#   <%= button_to "Destroy this website", @website, method: :delete %>
# </div>

<%= image_tag @website.featured_image if @website.featured_image.attached? %>

<% cache @website do %>
    <h1><%= @website.name %></h1>
    <%= @website.description %>
<% end %>

<%= link_to "Back", websites_path %>
<% if authenticated? %>
    <%= link_to "Edit", edit_website_path(@website) %>
    <%= button_to "Delete", @website, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>
