<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<h2>Register</h2>

<% if @user.errors.any? %>
  <div style="color:red">
    <p><strong>There were problems creating your account:</strong></p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, url: users_path do |form| %>
  <div>
    <%= form.label :email_address, "Email" %><br>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password, required: true, autocomplete: "new-password", minlength: 8 %>
  </div>

  <div>
    <%= form.label :password_confirmation, "Confirm password" %><br>
    <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
  </div>

  <div>
    <%= form.submit "Create account" %>
  </div>
<% end %>

<br>
<%= link_to "Already have an account? Sign in", new_session_path %>