<p style="color: green"><%= notice %></p>

<%= render @novel %>

<% @chapters.each do |chapter| %>
    <div>
    <%= link_to chapter.name, chapter %>
    </div>
<% end %>
<br>

<div>
  <%= link_to "Back to novels", website_novels_path(@novel) %>
</div>

<% if authenticated? %>
  <%= link_to "Edit this novel", edit_novel_path(@novel) %> 
  <br>
  <%= button_to "Delete", @novel, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>