<p style="color: green"><%= notice %></p>

<%= render @novel %>

<div>
  <%= link_to "New Chapter", new_novel_chapter_path(@novel) if current_user&.admin? %>
</div>
<br>

<% if authenticated? %>
<% empty_chapters_count = @novel.chapters.where(content: [nil, '']).count %>
  <small style="color: #666; margin-left: 10px;">
    <%= empty_chapters_count %> Chapters Are Empty
  </small>
  <%= button_to "Batch Scrape Chapters", batch_scrape_novel_path(@novel), method: :post, data: { turbo_confirm: "Scrape all chapters for this novel?" } %>
<% end %>
<br>

<% @chapters.each do |chapter| %>
    <div>
    <%= link_to chapter.name, chapter %>
    </div>
<% end %>
<br>

<div>
  <%= link_to "Back To #{@novel.website.name} Novels", @novel.website %>
</div>

<% if current_user&.admin? %>
  <%= link_to "Edit This Novel", edit_novel_path(@novel) %> 
  <br>
  <%= button_to "Delete", @novel, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>
