<p style="color: green"><%= notice %></p>

<%= render @novel %>

<div>
  <%= link_to "New Chapter", new_novel_chapter_path(@novel) if authenticated? %>
</div>
<br>

<% @chapters.each do |chapter| %>
    <div>
    <%= link_to chapter.name, chapter %>
    </div>
<% end %>
<br>

<div>
  <%= link_to "Back To #{@novel.website.name} Novels", @novel.website %>
</div>

<% if authenticated? %>
  <%= link_to "Edit This Novel", edit_novel_path(@novel) %> 
  <br>
  <%= button_to "Delete", @novel, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>
