<p style="color: green"><%= notice %></p>

<%= render @chapter %>

<div>
  <%= simple_format(@chapter.content) %>
</div>

<br>

<div>
  <%= link_to "Back to chapters", novel_chapters_path(@chapter) %>
</div>

<% if authenticated? %>
  <%= link_to "Edit this chapter", edit_chapter_path(@chapter) %> 
  <br>
  <%= button_to "Delete", @chapter, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>